/* Botão de Voltar */

button {
    width: 150px;
    height: 40px;
    background-color: rgb(73, 73, 247);
    color: white;
    border: none;
    border-radius: 10px;
}
button:hover {
    background-color: rgb(108, 108, 248);
}

/* Tabela */

.table-container {
    width: 50%;
    margin: 0 auto;
    overflow-x: auto; /* Para adicionar rolagem horizontal se necessário */
    overflow-y: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}